.checkboxList {
    display: block;
}

.checkboxList-group {
    display: flex;
}

.checkboxList-group-title {
    margin-top: .5em;
    margin-right: .1em;
}

.checkboxList-group-options {
    display: flex;
    flex-wrap: wrap;
}

.checkboxList-item>input {
    display: none;
}

.checkboxList-item>span {
    padding: 5px;
    border: solid 1px #0366d6;
    border-radius: .25rem;
    margin: 4px;
    display: block;
}

.checkboxList-item>input:checked+span {
    background-color: #0366d6;
    border-color: #0C3050;
    color: white;
}

.checkboxList-item>input:disabled+span {
    background-color: #6a84a1;
    border-color: grey;
    color: black;
}

.checkboxList-item .description {
    font-size: 70%;
    display: none;
}

.checkboxList-item:hover .description {
    font-size: 70%;
    display: block;
    position: absolute;
    background-color: #F6F7FF;
    padding: 5px;
    border: solid 1px #0366d6;
    border-radius: .25rem;
    margin: 2px;
    color: black;
}

.checkboxList-break {
    height: 0;
}