<div class="spinner_overlay">
    @if(ON){
        <img class="spinner" src="_content/BriefingRoomCommonGUI/img/spinner.png" alt="IMAGINE A REALLY GOOD SPINNER HERE"/>
    }
</div>

@code {
    [Parameter] public bool ON { get; set; }
}