<div class="template-box">
    <p>Template</p>
    <div class="btn-group" role="group">
        <label class="btn btn-primary hidden-input-file">
            <InputFile OnChange="@LoadTemplate" accept=".brt,.cbrt" />
            <span class="oi oi-data-transfer-upload"></span>
            <span class="template-box-button-text">Load</span>
        </label>
        <button class="btn btn-secondary" aria-hidden="true" @onclick="() => SaveTemplate()">
            <span class="oi oi-data-transfer-download"></span>
            <span class="template-box-button-text">Save</span>
        </button>
        <button class="btn btn-warning" aria-hidden="true" @onclick="() => ClearTemplate()">
            <span class="oi oi-reload"></span>
            <span class="template-box-button-text">Reset</span>
        </button>
    </div>
</div>

@code {
    [Parameter] public Func<InputFileChangeEventArgs, Task> LoadTemplate { get; set; }
    [Parameter] public Func<Task> SaveTemplate { get; set; }
    [Parameter] public Func<Task> ClearTemplate { get; set; }
}