@page "/"

@using System.Reflection
@using BriefingRoom4DCS

<div class="landing-screen">
  <img src="_content/BriefingRoomCommonGUI/img/br-logo-white.png" alt="BriefingRoom Logo" />
  <div class="landing-menu">
    <a href="/QuickBuilder" class="btn btn-primary">Quick Generator</a>
    <a href="/FullBuilder" class="btn btn-primary">Full Generator</a>
    <a href="/CampaignBuilder" class="btn btn-primary">Campaign Generator</a>
    <a href="/BriefingEditor" class="btn btn-primary">Briefing Editor</a>
    <a href="/Manual" class="btn btn-primary">Manual</a>
    <div class="form-group">
        <label>Language</label>
        <select class="form-control" @bind=@BriefingRoom.LanguageDB.Language>
            @foreach (var key in BriefingRoom.AvailableLanguagesMap.Keys)
            {
                <option value="@key">@BriefingRoom.AvailableLanguagesMap[key]</option>
            }
        </select>
    </div>
  </div>
  <div class="misc-info">
    Generator by <strong>Ambroise Garel (@@akaAgar)</strong>, user interace by <strong>John Harvey
      (@@john681611)</strong><br />
    Version @BriefingRoom.VERSION (@BriefingRoom.BUILD_VERSION) for DCS World
  </div>
</div>

@code {
  [CascadingParameter]
    public MainLayout Layout { get; set; }
}
