@page "/"

@using System.Reflection
@using BriefingRoom4DCS

<div class="landing-screen">
  <img src="_content/BriefingRoomCommonGUI/img/br-logo-white.png" alt="BriefingRoom Logo" />
  <div class="landing-menu">
    <a href="/QuickBuilder" class="btn btn-primary">Quick mission builder</a>
    <a href="/FullBuilder" class="btn btn-primary">Full mission builder</a>
    <a href="/CampaignBuilder" class="btn btn-primary">Campaign builder</a>
    <a href="/Manual" class="btn btn-primary">Manual</a>
  </div>
  <div class="misc-info">
    Generator by <strong>Ambroise Garel (@@akaAgar)</strong>, user interace by <strong>John Harvey
      (@@john681611)</strong><br />
    Version @BriefingRoom.VERSION for DCS World
  </div>
</div>

@code {
}
