@page "/"
@using System.Reflection
@using BriefingRoom4DCS

<div class="landing-screen">
    <img src="/img/br-logo-white.png" alt="Briefing Room Logo"/>
    <div class="landing-menu">
        <a href="/QuickBuilder" class="btn btn-primary">Quick Mission Builder</a>
        <a href="/FullBuilder" class="btn btn-primary">Full Mission Builder</a>
        @* <a href="/CampaignBuilder" class="btn btn-primary">Campaign Builder</a> *@
    </div>
    <div class="misc-info">
      <span class="by">By <b>Agar</b></span>
      <span class="ver">@BriefingRoom.VERSION for DCS @BriefingRoom.TARGETED_DCS_WORLD_VERSION</span>
    </div>
</div>

@code {

}