.checkboxList {
    display: flex;
    flex-wrap: wrap;
}

.checkboxList-item > input {
    display: none;
}

.checkboxList-item > span {
    padding: 5px;
    border: solid 1px #0366d6;
    border-radius: .25rem;
    margin: 2px;
    display: block;
}

.checkboxList-item > input:checked + span {
    background-color: #0366d6;
    border-color: #0C3050;
    color: white;
}

