@inherits LayoutComponentBase
@using BriefingRoom4DCS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="@BriefingRoom.WEBSITE_URL" target="_blank">About</a>
            <a href="@BriefingRoom.REPO_URL" target="_blank">GitHub</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
