@inherits LayoutComponentBase
@using BriefingRoom4DCS
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="page @((darkmode? "darkMode" : ""))">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="@BriefingRoom.WEBSITE_URL" target="_blank">About</a>
            <a href="@BriefingRoom.REPO_URL" target="_blank">GitHub</a>
            <label class="bulb">
                <input type="checkbox" checked=@darkmode
                    @onchange="eventArgs => SetDarkMode((bool)eventArgs.Value)" />
                <span class="oi oi-@((darkmode? "sun" : "moon"))"></span>
            </label>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code { 
    private bool darkmode = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            darkmode = await localStorage.GetItemAsync<bool>("DCSUseDarkMode");
                
            StateHasChanged();
        }
    }


    private async Task SetDarkMode(bool darkModeOn)
    {
        darkmode = darkModeOn;
        StateHasChanged();
        await localStorage.SetItemAsync("DCSUseDarkMode", darkModeOn);
    }
}
