.bulb {
    margin-left: 10px;
}

.bulb>input {
    display: none;
    margin-left: 5px;
}

.darkMode .main {
    background-color: #020A10;
    color: white;
}

.darkMode .main .top-row,
.darkMode .sidebar .top-row {
    background-color: #0a263f;
    color: white;
    border-color: black;
}

.darkMode .form-control {
    background-color: transparent;
    color: white;
}

.darkMode .nav-link.active {
    background-color: transparent;
    border-color: #dee2e6 #dee2e6 #020A10;
    color: white;
}

.darkMode .navbar-brand>img {
    filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
}


.darkMode .blazored-typeahead__input,
.darkMode .blazored-typeahead__results {
    background-color: #0a263f;
    color: white;
}

.darkMode .blazored-typeahead__selected-item-highlighted,
.darkMode .blazored-typeahead__selected-item {
    color: black;
}

.darkMode select option {
    background-color: #0a263f;
}

.darkMode .accordion-body {
    background-color: #020A10;
    color: white;
}

.darkMode .accordion-button {
    background-color: #0a263f;
    color: white;
}

.darkMode .accordion-button::after {
    color: white;
}

.darkMode .language-selector label {
    background-color: #0a263f;
}

.darkMode .offcanvas {
    background-color: #0a263f;
    color: white;
}

.darkMode .custom-warning a {
    color: #0378ff;
}