@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
.btn,
.nav-link {
    font-family: 'Quantico', Helvetica, sans-serif;
}

a,
.btn-link {
    color: #0366d6;
}

generator-block {
    padding-top: 0.5rem;
}

.btn {
    margin: 0.5rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

h4 {
    margin-top: 0.75rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.full-width {
    width: 100%;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.generator-group {
    display: flex;
}

.generator-form,
.generator-preview {
    padding: .5em
}

.generator-form {
    flex-grow: 1;
    flex-shrink: 1;
}

.generator-preview {
    grid-area: nav;
    border-left: 1px solid gray;
    flex-shrink: 1;
    flex-grow: 1;
    resize: horizontal;
}

.delete-flight {
    margin: 5px;
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
}

.misc-lists {
    display: flex;
}

.misc-lists .form-group {
    margin: 0 1em;
}

.landing-screen {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg, #0C3050 0%, #020A10 100%);
    z-index: 99999;
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;

}

.landing-screen img {
    margin: 10vh auto;
    width: 30%;
    display: block;
}

.landing-menu {
    margin: 0 auto;
    width: 30%;
}

.landing-menu a {
    width: 100%;
    margin-top: .5em;
    background-color: #56B1CE;
    border-radius: 4px;
    text-transform: uppercase;
}

.landing-screen .misc-info {
    color: #72C7E6;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.landing-screen .misc-info .ver,
.float-right {
    float: right;
}




.min-width {
    width: initial;
}

.flex-block {
    display: block;
    padding: 10px;
    flex: 1;
}

.flex-justify-spaced {
    justify-content: space-evenly;
}

.flex-margin-fix {
    margin: 0 -10px;
}

.row-button {
    margin-top: 2em;
    height: max-content;
}

.row-checkbox {
    margin-top: 1.5em;
}

.title-bar {
    display: flex;
    justify-content: space-between;
}

.template-box p {
    text-align: center;
    margin: 0;
    font-size: .8em;
    line-height: .2em;
}

.hidden-input-file input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.note {
    font-size: smaller;
    font-style: italic;
}

.submenu {
    position: absolute;
    z-index: 99999;
    background-color: red;
    padding: 0.5em;
}

.hostile {
    color: crimson;
}



.checkbox-wrapper>input {
    display: none;
}

.checkbox-wrapper>span {
    padding: 5px;
    border: solid 1px #0366d6;
    border-radius: .25rem;
    margin: 4px;
    display: block;
}

.checkbox-wrapper>input:checked+span {
    background-color: #0366d6;
    border-color: #0C3050;
    color: white;
}

.checkbox-wrapper .description {
    font-size: 70%;
    display: none;
}

.checkbox-wrapper:hover .description {
    font-size: 70%;
    display: block;
    position: absolute;
    background-color: #F6F7FF;
    padding: 5px;
    border: solid 1px #0366d6;
    border-radius: .25rem;
    margin: 2px;
    color: black;
}

.custom-warning {
    font-size: small;
    margin: 0;
    padding: 0;
}

textarea.long {
    height: 50vh;
}

textarea.short {
    height: 10vh;
}

td,
th {
    border-left: 1px solid;
    padding: 2px;
    margin: 2px;
}

th {
    border-bottom: 1px solid;
}

.language-selector {
    margin-top: -25px;
}

.language-selector label {
    position: relative;
    top: 11px;
    left: 5px;
    font-size: 12px;
    background-color: #F6F7FF;
}

.landing-screen .language-selector.index {
    margin-top: -15px;
    margin-left: 8px;
    margin-right: -8px;
}

.landing-screen .language-selector.index label {
    background-color: #051523;
    color: white;
}

.landing-screen .language-selector .form-control {
    background-color: transparent;
    color: white;
}

.landing-screen .language-selector select.form-control option {
    background-color: #0a263f;
}

.min-max {
    width: 47%;
    display: inline-block;
    margin: 0 1%;
}

#map,
#hintMap,
#situationMap {
    height: 800px;
    width: 100%;
}

.map_point_icon {
    width: 40px !important;
    height: 40px;
    position: relative;
    top: -15px;
    left: -15px;
}

.map_point_icon_text {
    white-space: nowrap;
}

.map_unit {
    width: 30px !important;
    height: 30px;
    top: -10px;
    left: -10px;
}

.map-label {
    font-weight: bold;
    position: relative;
    left: 25px;
    top: -3px;
}

.leaflet-div-icon {
    background-color: transparent;
    border-color: transparent;
}

.leaflet-div-icon.leaflet-editing-icon {
    background-color: #fff;
    border-color: #666;
}

.arrow-icon {
    width: 24px;
    height: 24px;
}

.arrow-icon>div {
    margin-left: -1px;
    margin-top: -3px;
    transform-origin: center center;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}