[Unit]
DCSID=F-16C_50
Families=PlaneFighter,PlaneSEAD,PlaneStrike

[Aircraft]

Payload.Task.Cluster.Pylon01={40EF17B7-F508-45de-8566-6FFECC0C1AB8}
Payload.Task.Cluster.Pylon02={5CE2FF2A-645A-4197-B48D-8720AC69394F}
Payload.Task.Cluster.Pylon03={TER_9A_2L*CBU-97}
Payload.Task.Cluster.Pylon04={TER_9A_3*CBU-87}
Payload.Task.Cluster.Pylon05={8A0BE8AE-58D4-4572-9263-3144C0D06364}
Payload.Task.Cluster.Pylon06={TER_9A_3*CBU-87}
Payload.Task.Cluster.Pylon07={TER_9A_2R*CBU-97}
Payload.Task.Cluster.Pylon08={5CE2FF2A-645A-4197-B48D-8720AC69394F}
Payload.Task.Cluster.Pylon09={40EF17B7-F508-45de-8566-6FFECC0C1AB8}

Liveries=Ironfists -F16