[GUI]
DisplayName=North American Union 
Category=Q-T

[Briefing]
Elements.Adjective=North American Union 
Elements.Recon=friendly agents,local resistance troops,reconnaissance units,special forces
Elements.StrategicCommand=Ottawa
Elements.TacticalCommand=Central command
Elements.TheCoalition=the NAU

[Coalition]
Countries=USA,Canada
DefaultUnitList=FirstWorld
NATOCallsigns=true
