@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    .generator-group {
        display:  flex;
    }
    .generator-form,.generator-preview {
        padding: .5em
    } 
    .generator-form {
        flex-grow: 1;
    }
    .generator-preview{
        border-left: 1px solid gray;
        max-width: 50%;
        flex-shrink: 1;
    }

    .delete-flight {
        margin: 5px;
        text-decoration:none;
        color: darkgray;
        font-weight: bold;
    }

    .misc-lists {
        display: flex;
    }

    .misc-lists .form-group {
        margin:  0 1em;
    }

    .splash-screen {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(180deg, #0C3050 0%, #020A10 100%);
        z-index: 99999;
        visibility: visible;
        opacity: 1;
        transition: opacity 2s linear;

    }

    @keyframes fadeOut {
        0% { opacity: 1;}
        99% { opacity: 0.01;width: 100%; height: 100%;}
        100% { opacity: 0;width: 0; height: 0;}
    }

    .fade-out {
        display: block;
        animation: fadeOut 2s 1s;
        animation-fill-mode: forwards;
    }

    .splash-screen img {
        margin: 30vh auto;
        width: 40%;
        display: block;
    }
