body,
html {
	background-image: linear-gradient(180deg, #0C3050 0%, #020A10 100%);
	font-family: 'Quantico', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.container {
	width: 924px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	padding-top: 0;
	background-color: #eee;
}

.text {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

table {
	width: 100%;
	border: 0;
}

img {
	width: 100%;
	border: 1px solid #666;
}

.title {
	background-image: url("./title.png");
	height: 288px;
}

.carousel-caption {
	background-color: rgba(0,0,0,0.8);
	left: 30%;
	right: 30%;
}